.fighter-preview___root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 250px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Press Start 2P', cursive;
}

.fighter-preview___img {
  height: 150px;
}

.fighter-preview___name {
  padding: 20px 0 10px;
}

.fighter-preview___right .fighter-preview___img {
  transform: rotateY(180deg);
}

.fighter-preview___health {
  padding-top: 10px;
}

.fighter-preview___attack {
  padding: 5px 0;
}

.fighter-preview___defense {
  padding-bottom: 20px;
}
