.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #000;
}

.modal-root img {
  margin: 50px 0;
  width: 50%;
  height: 100%;
}

.modal-header {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
  background: #fff;
}

.modal-body {
  padding: 1rem;
  background: #000;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  margin-left: 20px;
}