.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  font-family: 'Press Start 2P', cursive;
  padding: 15px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid transparent;
  transition: border 0.3s ease;
  outline: none;
}

.preview-container___fight-btn:hover {
  border: 2px solid  #fff;
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
